{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "es2021": true,
    "browser": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],vbhghj
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react-hooks/exhaustive-deps": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-expressions": "off",
    "no-unused-expressions": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      { "js": "never", "jsx": "never", "ts": "never", "tsx": "never" }
    ]
  },
  "overrides": [
    {
      "files": ["**/__tests__/**/*.tsx", "**/*.test.tsx", "src/setupTests.ts"],
      "env": {
        "jest": true
      },
      "rules": {
        "react/prop-types": "off",
        "react/jsx-no-bind": "off",
        "no-promise-executor-return": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
